#output {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
}

#output img {
    border-radius: 50%;

}

.customer {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: center;
    margin: 5px;
}

.customer h1 {
    font-size: 75rem;
    letter-spacing: -5px;
}


.customer h2 {
    letter-spacing: -.5px;
}

.emailContact p {
    color: 'light gray';
}
