#output {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
}

#output img {
    border-radius: 50%;

}



.customer {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: center;
    margin: 10px 1px;
    padding: 1px 3px;
    /* line-height: -0.5rem; */
    /* overflow-wrap: break-word; */
    overflow: hidden
    /* word-wrap: break-word; */
}

.customer h4 {
    font-size: .75rem;
    letter-spacing: -5px;
    /* color: lightgray; */
}


.customer p {
    margin: 0;
    padding-bottom: 1;
}

.customer h2 {
    letter-spacing: -.5px;
}

.emailContact {
    color: gainsboro;
}
