#output {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    width: 100%;
    margin: 0 auto;
}

/* #output img {
    border-radius: 25% 50%;
} */

.customer {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: center;
    margin: 10px 1px;
    padding: 1px 3px;
    /* line-height: -0.5rem; */
    /* overflow-wrap: break-word; */
    overflow: hidden
    /* word-wrap: break-word; */
}

/* .customer h4 {
    font-size: .75rem;
    letter-spacing: -5px;
    /* color: lightgray; */
/* } */ 


.customerPhoto {
    margin: 0;
    border-radius: 25% 50%;

    /* border-radius: 50%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%; */


    /* padding-bottom: 1; */
    margin-bottom: -8px;

}

.customerName {
    letter-spacing: -.5px;
    margin-bottom: -5px;
}

.emailContact {
    color: gray;
    font-size: .85rem;
    line-height: 1rem;
    margin-bottom: -5px;

}

.customerAddress {
    font-size: .9rem;
    line-height: 1rem;    margin-bottom: -5px;

}

.customerDates {
    font-size: .9rem;
    line-height: 1rem;


}